/* iphoneSE 320x568*/
@media screen and (min-width: 320px) {
  .main__video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
  }
  #mainVideoPlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
    filter: brightness(0.7);
  }
}
/* iphone8 375x667*/
@media screen and (min-width: 375px) {
  .main__video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 667px;
  }
  #mainVideoPlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 667px;
  }
}
/* iphone8+ 414x736*/
@media screen and (min-width: 414px) {
  .main__video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
    height: 736px;
  }
  .main__video-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
    height: 736px;
  }
}
